<p>
  This workshop will cover basic and advanced concepts and tools on plotting using ggplot2. 
  It is sponspored by XXX Award. This webpage was created using the Software Carpentry template.
  <a href="{{site.swc_site}}">Software Carpentry</a> 
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  
  Participants are encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

