<p>
  This workshop will go over our favourite tricks and secrets to create plots using ggplot2. 
  Participants are encouraged to help one another and share their own way to customize graphs.
  The workshop is sponspored by XXX Award. 
  
  This webpage was created using the Software Carpentry template.
  <a href="{{site.swc_site}}">Software Carpentry</a> 
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  
</p>

