<div class="row">
  <div class="col-md-6">
    <h3>December 1st</h3>
    <table class="table table-striped">
      <tr> <td>01:00 pm</td>  <td>Intro to ggplot2</td> </tr>
      <tr> <td>01:10 pm</td>  <td>Exploring different types of graphs</td> </tr>
      <tr> <td>01:40 pm</td>  <td>Modifying themes, titles, axes and legends</td> </tr>
      <tr> <td>02:00 pm</td>  <td>Coffee break</td> </tr>
      <tr> <td>02:10 pm</td>  <td>Faceting </td> </tr>
      <tr> <td>02:40 pm</td>  <td>TBD</td> </tr>
      <tr> <td>03:00 pm</td>  <td>Accessing and plotting data from ocean observatories</td> </tr>
      <tr> <td>03:10 pm</td>  <td>Create interactive time series</td> </tr>
      <tr> <td>03:40 pm</td>  <td>Coffee break</td> </tr>
      <tr> <td>03:50 pm</td>  <td>TBD</td> </tr>
      <tr> <td>04:20 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>04:35 pm</td>  <td>Postworkshop survey</td> </tr>
      <tr> <td>04:40 pm</td>  <td>Q&A</td> </tr>
      <tr> <td>05:00 pm</td>  <td>END</td> </tr>
      
    </table>
  </div>
</div>

